# UV / Python environments
.venv/

# Data
data/sat_images
data/outputs/
data/uploads/
data/logs/
data/model_weights/

# Experiment tracking / cloud
.appmap
.netrc
.lightning_studio
/appmap
segment-anything-2
wandb
.keras/
.wget-hsts

# IDE
.idea/
.DS_Store
*.sw?
__pycache__/*
**/__pycache__/*
*.pyc
*.pyo
*.tiff
*.tif
*.tiff.aux.xml
*.tif.aux.xml
.vscode/
.vscode-server/
inference/data/logs/
inference/data/outputs/

!data/inputs/paint1.tif
