data/sat_images
.appmap
.netrc
.lightning_studio
/appmap
segment-anything-2
wandb
data/outputs/
*.sw?
__pycache__/*
**/__pycache__/*
*.pyc
*.pyo
*.tiff
*.tif
*.tiff.aux.xml
*.tif.aux.xml
.vscode/
.vscode-server/
inference/data/logs/
inference/data/outputs/

!data/inputs/paint1.tif
