absl-py @ file:///croot/absl-py_1714140470852/work
affine @ file:///Users/ktietz/demo/mc3/conda-bld/affine_1629890479180/work
aiohttp @ file:///croot/aiohttp_1715108769648/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
albumentations @ file:///home/conda/feedstock_root/build_artifacts/albumentations_1686576355052/work
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout @ file:///croot/async-timeout_1703096998144/work
attrs @ file:///croot/attrs_1695717823297/work
awscrt==0.20.11
Babel==2.15.0
backoff==2.2.1
beautifulsoup4==4.12.3
bleach==6.1.0
blinker @ file:///croot/blinker_1696539051175/work
boto3==1.34.125
botocore==1.34.125
Brotli @ file:///croot/brotli-split_1714483155106/work
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
cachetools @ file:///croot/cachetools_1713977085444/work
certifi @ file:///croot/certifi_1717618050233/work/certifi
cffi @ file:///croot/cffi_1714483155441/work
charset-normalizer==3.3.2
click @ file:///croot/click_1698129812380/work
click-plugins @ file:///Users/ktietz/demo/mc3/conda-bld/click-plugins_1630665883852/work
cligj==0.7.2
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm==0.2.2
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1712429905637/work
cryptography @ file:///croot/cryptography_1714660666131/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.6.1
docker-pycreds==0.4.0
email_validator==2.1.1
environs==11.0.0
exceptiongroup==1.2.1
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastapi_cors==0.0.6
fastjsonschema==2.19.1
filelock==3.15.1
fire==0.6.0
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1711466727397/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1717209196293/work
fqdn==1.5.1
frozenlist @ file:///croot/frozenlist_1698702560391/work
fsspec==2024.6.0
ftfy==6.1.3
gast @ file:///tmp/build/80754af9/gast_1637837472536/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1697791558612/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1711991025291/work
glob2==0.7
google-auth @ file:///croot/google-auth_1715111149956/work
google-auth-oauthlib @ file:///opt/conda/conda-bld/google-auth-oauthlib_1660687784486/work
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1690942284331/work
h11==0.14.0
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1717664841189/work
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
hydra-core==1.3.2
idna @ file:///croot/idna_1714398848350/work
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1704019731389/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1713760653872/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
iniconfig==2.0.0
iopath==0.1.10
ipykernel==6.26.0
ipython==8.17.2
ipywidgets==8.1.1
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1698427100715/work/keras-2.14.0-py3-none-any.whl#sha256=d7429d1d2131cc7eb1f2ea2ec330227c7d9d38dab3dfdf2e78defee4ecc43fcd
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379902431/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy_loader_1712342969017/work
lightning==2.2.5
lightning-cloud==0.5.69
lightning-utilities==0.11.2
lightning_sdk==0.1.10
litdata==0.2.7
Markdown @ file:///croot/markdown_1671541909495/work
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
marshmallow==3.22.0
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1715976200404/work
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mkl-service==2.4.0
mkl_fft==1.3.10
mkl_random @ file:///home/conda/feedstock_root/build_artifacts/mkl_random_1717625569739/work
ml-dtypes @ file:///croot/ml_dtypes_1694459882323/work
mpmath==1.3.0
multidict @ file:///croot/multidict_1701096859099/work
munkres==1.1.4
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.26.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
oauthlib @ file:///croot/oauthlib_1679489621486/work
omegaconf==2.3.0
opencv-python==4.9.0
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
orjson==3.10.4
overrides==7.7.0
packaging @ file:///croot/packaging_1710807400464/work
pandas==2.1.4
pandocfilters==1.5.1
parso==0.8.4
pathtools==0.1.2
pexpect==4.9.0
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1712154467551/work
platformdirs==4.2.2
pluggy==1.5.0
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1712242996588/work
portalocker==2.10.1
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==4.21.12
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1705722392846/work
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.7.4
pydantic-settings==2.4.0
pydantic_core==2.18.4
Pygments==2.18.0
PyJWT @ file:///croot/pyjwt_1715094751094/work
pyOpenSSL @ file:///croot/pyopenssl_1708380408460/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pytest==8.3.2
pytest-asyncio==0.24.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.9
pytorch-lightning==2.2.5
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1695567558330/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373428874/work
pyzmq==26.0.3
qudida @ file:///home/conda/feedstock_root/build_artifacts/qudida_1651101164121/work
rasterio @ file:///home/conda/feedstock_root/build_artifacts/rasterio_1702440454562/work
referencing==0.35.1
regex==2023.10.3
requests @ file:///croot/requests_1716902831423/work
requests-oauthlib==1.3.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.1
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
s3transfer==0.10.1
# Editable install with no version control (SAM-2==1.0)
-e /teamspace/studios/this_studio/segment-anything-2
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1718816155071/work/dist/scikit_image-0.24.0-cp310-cp310-linux_x86_64.whl#sha256=12304b6e8f079ef656ee34b6bf6c89abfcc45a7f8ee38a168567da1982df8246
scikit-learn==1.3.2
scipy==1.11.4
Send2Trash==1.8.3
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1717809869273/work
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1696431166166/work
shellingham==1.5.4
simple-term-menu==1.6.4
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1697300428978/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
sniffio==1.3.1
snuggs @ file:///Users/ktietz/demo/mc3/conda-bld/snuggs_1629803886966/work
soupsieve==2.5
sse-starlette==2.1.3
stack-data==0.6.3
starlette==0.37.2
svgwrite==1.4.3
sympy==1.12.1
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1695917943728/work/tensorboard-2.14.1-py3-none-any.whl#sha256=3db108fb58f023b6439880e177743c5f1e703e9eeb5fb7d597871f949f85fd58
tensorboard-data-server @ file:///croot/tensorboard-data-server_1681498183723/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl
tensorflow @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-split_1699620173861/work/tensorflow_pkg/tensorflow-2.14.0-cp310-cp310-linux_x86_64.whl#sha256=a015dab8043172172ca4a754467c15209dcc02b420221cfcbc32ffa7e0c47fbd
tensorflow-estimator @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-split_1699620173861/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.14.0-py2.py3-none-any.whl#sha256=f05e70bcc48452fdf9e473666558a4d4cf92833fa4f1411e17806326b41e6fb1
termcolor @ file:///croot/termcolor_1668084651543/work
terminado==0.18.1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1692120125985/work
tinycss2==1.3.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
torch==2.4.0
torchmetrics==1.3.1
torchvision==0.19.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1717722796999/work
tqdm==4.66.1
traitlets==5.14.3
Tree==0.2.4
triton==3.0.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
ujson==5.10.0
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1695847980273/work
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1715635851070/work
uvicorn==0.30.1
uvloop==0.19.0
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1711408286622/work
watchfiles==0.22.0
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug @ file:///croot/werkzeug_1716533313107/work
widgetsnbextension==4.0.11
wrapt @ file:///tmp/abs_c335821b-6e43-4504-9816-b1a52d3d3e1eel6uae8l/croots/recipe/wrapt_1657814400492/work
xgboost==2.0.2
yarl @ file:///croot/yarl_1701105127787/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
